.git
.gitignore
.vscode
.venv
__pycache__
*.pyc
build/
benchmarks/
tests/
check_dataset/bugs/
check_dataset/reports/
**/CMakeFiles/
**/CMakeCache.txt
**/*.o
**/*.a
**/*.so
**/profiler_report.txt
**/*.bin
**/test_*
.DS_Store